* {
    Padding: 0;
    Margin: 0;
  }
  Body {
    Background-Color: #816681;
  }
  .Player {
    Background-Color: #D52f31;
    Width: 50vw;
    Height: 65vh;
    Position: Absolute;
    Transform: Translate(-50%, -50%);
    Left: 50%;
    Top: 50%;
    Border-Radius: 8px;
    Box-Shadow: 0 8px 0 0 #Be272a;
  }
  .Record {
    Height: 22em;
    Width: 22em;
    Background-Color: #181312;
    Border-Radius: 50%;
    Position: Absolute;
    Top: 4em;
    Left: 8em;
    Display: Flex;
    Align-Items: Center;
    Justify-Content: Center;
  }
  .Record:before,
  .Record:after {
    Position: Absolute;
    Content: "";
    Border: 5px Solid Transparent;
    Border-Top-Color: #2c2424;
    Border-Bottom-Color: #2c2424;
    Border-Radius: 50%;
  }
  .Record:before {
    Height: 15em;
    Width: 15em;
  }
  .Record:after {
    Height: 10em;
    Width: 10em;
  }
  .Label {
    Background-Color: #181312;
    Height: 3em;
    Width: 3em;
    Border: 20px Solid #Ff8e00;
    Border-Radius: 50%;
  }
  .Tone-Arm {
    Height: 13em;
    Width: 1em;
    Background-Color: #Ffffff;
    Position: Absolute;
    Top: 5em;
    Right: 14em;
    Transition: 1s;
    Transform-Origin: Top;
  }
  .Control {
    Background-Color: #181312;
    Height: 2em;
    Width: 2em;
    Border: 10px Solid #2c2c2c;
    Border-Radius: 50%;
    Position: Absolute;
    Top: -2em;
    Left: -1.2em;
  }
  .Tone-Arm:before {
    Content: "";
    Height: 3em;
    Width: 1em;
    Background-Color: #Ffffff;
    Position: Absolute;
    Transform: Rotate(30deg);
    Bottom: -2.44em;
    Right: 0.66em;
  }
  .Tone-Arm:after {
    Content: "";
    Position: Absolute;
    Height: 0;
    Width: 1em;
    Border-Top: 18px Solid #B2aea6;
    Border-Left: 2px Solid Transparent;
    Border-Right: 2px Solid Transparent;
    Top: 15em;
    Right: 1.5em;
    Transform: Rotate(30deg);
  }
  .Btn {
    Height: 28px;
    Width: 28px;
    Background-Color: #Ed5650;
    Border-Radius: 50%;
    Position: Absolute;
    Bottom: 20px;
    Right: 30px;
    Border: None;
    Border: 3.5px Solid #Be272a;
    Outline: None;
    Cursor: Pointer;
  }
  .Slider {
    -Webkit-Appearance: None;
    Appearance: None;
    Transform: Rotate(-90deg);
    Width: 24em;
    Height: 2em;
    Position: Absolute;
    Left: 42em;
    Top: 15em;
    Background-Color: #Be272a;
    Outline: None;
    Border-Radius: 3px;
    Border: 6px Solid #Ed5650;
  }
  .Slider::-Webkit-Slider-Thumb {
    -Webkit-Appearance: None;
    Appearance: None;
    Width: 10px;
    Height: 12px;
    Background-Color: #Ffffff;
    Cursor: Pointer;
  }
  .Play {
    Transform: Rotate(30deg);
    Transform-Origin: Top;
    Transition: 1s;
  }
  .On {
    Animation: Spin 3s 1s Linear Infinite;
  }
  @Keyframes Spin {
    100% {
      Transform: Rotate(360deg);
    }
  }