.jazz-content, .pop-content ,.classical-content ,.blues-content{
    background-color: aquamarine;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.jalbum-wrap, .palbum-wrap, .calbum-wrap, .balbum-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
}
.jalbums-wrap, .palbums-wrap, .calbums-wrap, .balbums-wrap{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    width: 45%;
}
.jsongs-wrap, .psongs-wrap, .csongs-wrap, .bsongs-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 45%;
}
.albumImage{
    width: 10%;
}
/* #img1{
    position: relative;
} */
/* #img2{
    position: absolute;
    width: 139%;
    height: 10%;

} */
