.disc-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

.disc-set{
    height: 70vh;
    width: 70vw;
    border:1px solid black;
    border-radius: 50%;
    transform: rotate(0deg);
    position: relative;
    transition: transform 0.7s linear;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.disc{
    height: 20vh;
    width: 20vw;
    position:absolute;
    animation: spin 5s linear infinite;
    
}
@keyframes spin{
    100%{
        transform: rotate(1turn);
    }
}